<h3>Router</h3>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/page1/4" routerLinkActive="active">Page 1</a>
  <a routerLink="/page2" routerLinkActive="active">PAge 2</a>
  <a routerLink="/page3" routerLinkActive="active">PAge 3</a>
  <a routerLink="/page4" routerLinkActive="active">PAge 4</a>
  <a routerLink="/page5" routerLinkActive="active">PAge 5</a>
  <a routerLink="/page6" routerLinkActive="active">PAge 6</a>
  <a routerLink="/page7" routerLinkActive="active">PAge 7</a>
  <a routerLink="/page8" routerLinkActive="active">PAge 8</a>
</nav>

<router-outlet></router-outlet>
<h4>Footer</h4>
